.hero{

min-height:90vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:70px;

gap:70px;

}

/* LEFT */

.hero-left{

flex:1;

}

.hero-badge{

display:inline-block;

padding:10px 18px;

background:#1E3A8A;

color:#38BDF8;

border-radius:50px;

font-size:14px;

margin-bottom:25px;

}

.hero-left h1{

font-size:62px;

line-height:75px;

font-weight:700;

margin-bottom:25px;

}

.hero-left h1 span{

color:#38BDF8;

}

.hero-left p{

font-size:19px;

line-height:35px;

color:#CBD5E1;

margin-bottom:35px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.primary-btn{

padding:16px 35px;

background:#2563EB;

border:none;

border-radius:10px;

color:white;

font-size:17px;

font-weight:600;

}

.primary-btn:hover{

background:#1D4ED8;

}

.secondary-btn{

padding:16px 35px;

background:transparent;

border:2px solid #38BDF8;

border-radius:10px;

color:white;

font-size:17px;

font-weight:600;

}

.secondary-btn:hover{

background:#38BDF8;

color:#0F172A;

}

/* RIGHT */

.hero-right{

flex:1;

display:grid;

grid-template-columns:1fr;

gap:25px;

}

.hero-card{

background:rgba(30,41,59,.85);

padding:30px;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(18px);

transition:.3s;

}

.hero-card:hover{

transform:translateY(-8px);

border-color:#38BDF8;

}

.hero-card h2{

margin:20px 0 15px;

font-size:26px;

}

.hero-card p{

color:#CBD5E1;

line-height:28px;

}

/* Responsive */

@media(max-width:1000px){

.hero{

flex-direction:column;

padding:50px 25px;

}

.hero-left h1{

font-size:42px;

line-height:55px;

}

.hero-right{

width:100%;

}

}